html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-size: 13px;
    direction: ltr;
    vertical-align: baseline;
    background: none repeat scroll 0% 0% transparent;
}
div {
    display: block;
    background-size: 100% 100%;
    text-align: justify;
}
p {
    margin-top: 7px;
    margin-bottom: 7px;
}
body {
    font-family: Verdana, Helvetica, Arial;
    color: #404040;
    background-color: #f1f1f1;
    margin: 0px;
    height: 100%;
    line-height: 17px;
    unicode-bidi: embed;
}
#topo {
    width: 980px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
}
#logo {
    
}
#banner {
    width: 500px;
    height: 50px;
    padding-top: 10px;
}
#img_home{
    width: 300px;
    height: 200px;
    position: relative;
    float: right;
}
#menu {
    height: 30px;
    word-spacing: 12px;
    background-color: #717171;
    color: #f1f1f1 !important;
}
#menuNav {
    width: 980px;
    margin-left: auto;
    margin-right: auto; 
}
.linkMenu {
    position: relative;
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: 50%;
    margin-right: 20px;
}
#bigBox {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#content {
    width: 740px;
    min-height: 400px;
    background-color: #f1f1f1;
    clear: none;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    word-wrap: break-word;
}
#login {
    position: relative;
    float: right;
    width: 200px;
    min-height: 200px;
    background-color: #999;
    color: #f1f1f1;
    padding: 10px;
}
#line {
    position: relative;
    float: left;
    width: 100%;
    height: 5px;
    background-color: #707070;
    margin-top: 10px;
}
#footer {
    width: 1000px;
    height: 50px;
    
    background-color: #d3d3d3;
    margin-left: auto;
    margin-right: auto;
}
h4 {
    font-size: 16px;
    font-weight: normal;
    color: #8AC007;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}
a {
    cursor: auto;
}
a:link, a:visited {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
a:hover, a:active {
    color: #3b5998;
    text-decoration: underline;
}
a.topnavdir {
    float: right;
    margin-left: 10px;
    margin-right: 6px;
}
.linkMenu a:link, .linkMenu a:visited {
    color: #f1f1f1;
}
input.smallItem, input.smallRightItem, input.item, input.largeItem {
    height: 21px;
}
.smallItem {
    width: 96px;
    height: 30px !important;
}
.smallRightItem {
    width: 96px;
    height: 30px !important;
    position: relative;
    float: right;
}
.item {
    width: 196px;
}
.largeItem {
    width: 246px;
}
.right {
    text-align: right;
}
.clear {
    clear: both;
}
.invisibleSeparator {
    width: 90%;
    height: 10px;
}
.menuDrop{
    list-style: none;
    /*border: 1px solid #c0c0c0;*/
    /*float: left;*/    
}
.menuDrop li a{
    /*color: #0000FF;*/
    text-decoration: none;
    /*padding: 5px 10px;*/
    display: block;
}
.menuDrop li a:hover{
    background: #3399ff;
    color: #f1f1f1;
    -moz-box-shadow: 0 3px 10px 0 #808080;
    -webkit-box-shadow: 0 3px 10px 0 #808080;
    text-shadow: 0px 0px 5px #ff4800;
    cursor: pointer;
}
.menuDrop li ul{
    position: absolute;
/*    top: 25px;
    left: 0px; */
    background-color: #808080;
    display: none;
}
.menuDrop li:hover ul, .menuDrop li.over ul{
    display: block;
}
.menuDrop li ul li{
    border: 1px solid #c0c0c0;
    display: block;
    width: 100px;
}
.menuDrop li a:active{
    background: #d3d3d3;
    color: #ff0000;
    -moz-box-shadow: 0 3px 10px 0 #808080;
    -webkit-box-shadow: 0 3px 10px 0 #808080;
    text-shadow: 0px 0px 5px #ff4800;
    cursor: pointer;
}
#boxCadastro {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#texto_home{
    width: 400px;
    position: relative;
    float: left;
}
#paragrafoDois_home{
    position: relative;
    float: left;
}
#texto_footer{
    margin: 5px;
}